<!DOCTYPE html>
<html>

<head>
  <title>NudeNet Local Image Test</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
</head>

<body>
  <div class="container">
    <div class="row">
      <a class="btn btn-primary my-3" href="/" target="_blank">Test remote</a>
    </div>
    <div class="row g-2">
      {% for key, value in result.items() %}
      <div class="col-2">
        <div class="card h-100 text-light {{ 'bg-danger' if value.unsafe > threshold else 'bg-success' }}">
          <img class="card-img-top" src="{{ key|e }}" />
          <div class="card-body">
            <h4 class="card-title text-center">Nudity {{ (value.unsafe * 100)|round|int }}%</h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>
